<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <img
        src="{{ product.image }}"
        class="img-fluid"
        alt="{{ product.name }}"
      />
    </div>
    <div class="col-6">
      <h2>{{ product.name }}</h2>
      <h4>
        {{
          product.preco.toLocaleString("pt-br", {
            style: "currency",
            currency: "BRL"
          })
        }}
      </h4>
      <button
        class="btn btn-lg btn-secondary mt-3"
        (click)="addToCart(product)"
      >
        Adicionar ao carrinho <i class="fas fa-cart-plus"></i>
      </button>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg/1200px-Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg.png"
        class="img-fluid mt-5"
        alt="PIX"
        style="width: 10rem; display: block"
      />
    </div>
    <div class="col-12">
      {{ product.descricao }}
    </div>
  </div>
</div>
