<header>
  <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    <div class="container">
      <div>
        <p class="navbar-brand">CoffeShop</p>
        <a [routerLink]="['/products']" class="mx-5">Produtos</a>
        <a [routerLink]="['/cart']">Carrinho</a>
      </div>

      <div *ngIf="!isLogged">
        <a [routerLink]="['/login']" class="mx-5">Login</a>
        <a [routerLink]="['/register']">Cadastre-se</a>
      </div>
      <div *ngIf="isLogged">
        <a class="pointer" (click)="logout()">Sair</a>
      </div>
    </div>
  </nav>
</header>
<section>
  <main>
    <router-outlet></router-outlet>
  </main>
</section>
